        body {
            background-color: black;
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        
        img {
            max-width: 100%;
            max-height: 100vh;
            transform: scale(9);
            transform-origin: center;
            image-rendering:pixelated;
        }